.carouselSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

.carouselPoster {
  width: fit-content;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: start;
}

.carouselPoster img {
  width: 90%;
  border-radius: 10px;
}

.swiperComponent {
  display: flex;
  justify-content: center;
  align-items: center;
}
