@font-face {
  font-family: "amiko-regular";
  src: url("../../assets/fonts/Amiko-Regular.ttf");
}

h1 {
  font-family: "amiko-regular";
  font-weight: 700;
  font-size: 28px;
  color: #ffffff;
  margin: 0;
  z-index: 10;
}

.container {
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: baseline;
  z-index: 10;
}

.collectionCard {
  cursor: pointer;
  transition-duration: 300ms;
  width: fit-content;
}

.collectionCard:hover {
  box-shadow: rgb(190, 135, 72, 0.2) 0px 8px 24px;
  transform: scale(1.02);
}
