@font-face {
  font-family: "amiko_regular";
  src: url(../../assets/fonts/Amiko-Regular.ttf);
}
@font-face {
  font-family: "amiko_semibold";
  src: url(../../assets/fonts/Amiko-SemiBold.ttf);
}
@font-face {
  font-family: "amiko-bold";
  src: url(../../assets/fonts/Amiko-Bold.ttf);
}

.breadcrumbs {
  font-family: "amiko_regular";
}

.accordionText {
  font-family: "amiko_regular";
  font-weight: bold;
}

/* filters */
.productCategories {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
}

.productCategories span {
  font-family: "amiko_regular";
  cursor: pointer;
  transition-duration: 300ms;
}

.productCategories span:hover {
  transform: scale(1.11);
  font-weight: bold;
}

.productCategories span::before {
  content: "•";
  color: #151515;
  font-size: 16px;
  margin-right: 8px;
  opacity: 0;
  transition: opacity 200ms;
}

.productCategories span:hover::before {
  opacity: 1;
}

.productSizes {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.sizeBox {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectedSizeBox {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #141413;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.sizeBox span {
  cursor: pointer;
  transition-duration: 200ms;
}

.sizeBox span:hover {
  font-weight: 600;
  transform: scale(1.09);
  color: #be8748;
}

.checkBoxContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: "amiko_regular";
}

.sliderText {
  font-family: "amiko_regular";
}

/* filters */
