.orderCard {
  transition-duration: 300ms;
  cursor: pointer;
  width: 250px;
  border-radius: 15px;
}

.orderCard:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transform: scale(1.02);
}
