  
  h3 {
    font-family: "amiko-regular";
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    margin: 0;
    z-index: 10;
  }
.items{
    font-family: "amiko-regular";
    font-weight: 700;
    font-size: 12px;
    color: #7a7a7a;
    margin: 0;
    z-index: 10;
}

.topTextDate{
    font-family: "amiko-regular";
    font-weight: 700;
    font-size: 12px;
    color: #7a7a7a;
    margin: 0;
    top: 0;
    z-index: 10;
}

.topTextStatus{
    font-family: "amiko-regular";
    font-weight: 700;
    font-size: 12px;
    color: #000000;
    margin: 0;
    top: 0;
    z-index: 10;
}

button{
    background-color: #be8748;
    color: "#FFFFFF";
    border-radius: "20px";
    padding: "6px 20px";
    font-family: "amiko";
    font-size: "12px";
    font-weight: "bold";
    box-shadow: "0px 4px 4px rgba(0, 0, 0, 0.25)";
    box-sizing: "border-box";
}