.container {
  display: flex;
  row-gap: 5vw;
  column-gap: 2vw;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0 20px;
  max-width: 100%;
  box-sizing: border-box;
}

.title {
  font-size: 1.5rem;
  margin: 20px 0;
  text-align: left;
  padding: 0 50px;
  color: #7c4100;
  font-family: "amiko";
}
