@font-face {
  font-family: "amiko-regular";
  src: url("../../../../assets/fonts/Amiko-Regular.ttf");
}

/* Dilrangi/NewArrivals.css */
.newArrivals {
  font-size: 18px;
  font-weight: 200;
  margin-top: 50px;
  margin-left: 25px;
  font-family: "amiko-regular";
  color: #7c4100;
  text-align: left;
  font-weight: bold;
}

.ProductCard {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 70px;
  margin-top: 20px;
}

/* Tablet view: 3 cards per row */
@media (max-width: 1146px) {
  .ProductCard {
    grid-template-columns: repeat(3, 1fr); /* 3 cards per row */
  }
}

@media (max-width: 900px) {
  .ProductCard {
    grid-template-columns: 1fr 1fr; /* 1 card per row */
  }
}

/* Mobile view: 1 card per row */
@media (max-width: 680px) {
  .ProductCard {
    grid-template-columns: 1fr; /* 1 card per row */
  }
}
